# ==============================
# Environment Variables
# ==============================
.env
.env.*
!.env.example

# ==============================
# Node Modules
# ==============================
node_modules/

# ==============================
# Build Files
# ==============================
dist/
build/

# ==============================
# Firebase / Google Credentials
# ==============================
serviceAccountKey.json
**/serviceAccountKey.json

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db